In [1]:
pwd

'C:\\Users\\Deekshitha\\Desktop\\python'

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import seaborn as sns

In [1]:
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('C:/Users/Deekshitha/Desktop/python/Movie_collection_train.csv',header=0)

In [7]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

df.info()

In [8]:
df.describe()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,392.000000,400.000000,400.000000,400.000000
mean,48646.500000,55.017180,73.832700,0.469881,35197.771537,137.581750,7.810275,7.982812,7.813375,7.993887,7.894100,463223.567500,157.790000,258.083840,38.715000,523.650000
std,18308.499136,119.755634,13.023426,0.113920,4075.766926,28.990673,1.088694,1.089923,1.093581,1.088619,0.672413,65225.567649,31.723517,94.621476,12.651043,103.661283
min,10000.000000,20.126400,55.920000,0.129000,19781.355000,76.400000,3.840000,4.035000,3.840000,4.030000,6.600000,215432.000000,0.000000,201.632000,3.000000,333.000000
25%,37800.000000,21.321950,63.250000,0.419000,32721.727500,111.175000,7.092500,7.252500,7.123750,7.273750,7.320000,436793.500000,133.360000,223.804000,26.000000,451.000000
50%,45000.000000,23.214700,69.030000,0.494500,34593.762500,142.250000,7.995000,8.157500,7.990000,8.140000,7.960000,474930.000000,159.720000,246.680000,39.000000,510.000000
75%,56500.000000,34.638300,82.840000,0.558000,37142.118750,165.400000,8.725000,8.912500,8.740000,8.931250,8.400000,507690.500000,183.210000,283.444000,50.000000,571.000000
max,100000.000000,1799.524000,106.300000,0.615000,48772.900000,173.500000,9.435000,9.540000,9.425000,9.635000,9.400000,567784.000000,217.520000,2022.400000,60.000000,868.000000

# missing value treatement

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           400 non-null    int64
 1   Marketin_expense     400 non-null    float64
 2   Production_expense   400 non-null    float64
 3   Multiplex_coverage   400 non-null    float64
 4   Budget               400 non-null    float64
 5   Movie_length         400 non-null    float64
 6   Lead_ Actor_Rating   400 non-null    float64
 7   Lead_Actress_rating  400 non-null    float64
 8   Director_rating      400 non-null    float64
 9   Producer_rating      400 non-null    float64
 10  Critic_rating        400 non-null    float64
 11  Trailer_views        400 non-null    int64
 12  Time_taken           392 non-null    float64
 13  Twitter_hastags      400 non-null    float64
 14  Genre                400 non-null    object
 15  Avg_age_actors       400 non-null    int64
 16  MPAA_film_rating     400 non-null    object
 17  Num_multiplex        400 non-null    int64
 18  3D_available         400 non-null    object
dtypes: float64(12), int64(4), object(3)
memory usage: 59.5+ KB

df.Time_taken = df.Time_taken.fillna(df.df.Time_taken.mean())

In [10]:
df.Time_taken = df.Time_taken.fillna(df.Time_taken.mean())

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           400 non-null    int64
 1   Marketin_expense     400 non-null    float64
 2   Production_expense   400 non-null    float64
 3   Multiplex_coverage   400 non-null    float64
 4   Budget               400 non-null    float64
 5   Movie_length         400 non-null    float64
 6   Lead_ Actor_Rating   400 non-null    float64
 7   Lead_Actress_rating  400 non-null    float64
 8   Director_rating      400 non-null    float64
 9   Producer_rating      400 non-null    float64
 10  Critic_rating        400 non-null    float64
 11  Trailer_views        400 non-null    int64
 12  Time_taken           400 non-null    float64
 13  Twitter_hastags      400 non-null    float64
 14  Genre                400 non-null    object
 15  Avg_age_actors       400 non-null    int64
 16  MPAA_film_rating     400 non-null    object
 17  Num_multiplex        400 non-null    int64
 18  3D_available         400 non-null    object
dtypes: float64(12), int64(4), object(3)
memory usage: 59.5+ KB

# dummy varaiable creation

In [12]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

In [13]:
del df['MPAA_film_rating']

In [14]:
df = pd.get_dummies(df,columns=["3D_available","Genre"],drop_first=True)

In [15]:
df.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

# x-y split(splitting independent and dependent variables)

In [16]:
x= df.drop(['Collection'],axis=1)

In [17]:
type(x)

pandas.core.frame.DataFrame

In [18]:
x.head()

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [19]:
y=df['Collection']

In [20]:
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

# test-train split

In [21]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
x_train.head()

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
336,20.6854,65.38,0.4850,32602.295,119.8,7.250,7.545,7.250,7.495,6.96,483878,201.80,303.120,53,447,0,0,0,1
64,20.3902,57.76,0.5839,39462.720,133.0,5.280,5.455,5.315,5.505,7.28,477265,165.20,205.280,30,390,1,0,0,0
55,20.2622,57.44,0.5970,40268.195,95.4,5.550,5.795,5.605,5.655,8.42,512329,150.16,265.664,50,480,1,0,0,1
106,23.4240,72.12,0.4800,32418.980,165.4,8.815,8.965,8.760,9.040,6.82,405008,205.80,283.120,20,482,1,0,1,0
300,20.8834,59.48,0.6000,38168.405,120.9,5.955,6.160,6.055,6.175,9.04,503113,181.92,223.968,29,429,1,0,0,1

In [24]:
y_train.head()

336    39000
64     66000
55     70800
106    39000
300    49600
Name: Collection, dtype: int64

In [25]:
x_train.shape

(320, 19)

In [26]:
x_test.shape

(80, 19)

# traing regression tree

In [27]:
from sklearn import tree

In [28]:
regtree = tree.DecisionTreeRegressor(max_depth =3)

In [29]:
regtree.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=3)

# predecting values

In [30]:
y_train_pred = regtree.predict(x_train)

In [31]:

y_test_pred = regtree.predict(x_test)

In [32]:

y_train_pred

array([ 47146.66666667,  64866.66666667,  64866.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  37268.96551724,  22834.7826087 ,
        22834.7826087 ,  47146.66666667,  25400.        ,  91725.        ,
        47146.66666667,  37268.96551724,  64866.66666667,  37268.96551724,
        37268.96551724,  22834.7826087 ,  64866.66666667,  43800.        ,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        91725.        ,  47146.66666667,  47146.66666667,  64866.66666667,
        37268.96551724,  47146.66666667,  47146.66666667,  64866.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  91725.        ,
        22834.7826087 ,  37268.96551724,  37268.96551724,  64866.66666667,
        47146.66666667,  47146.66666667,  37268.96551724,  22834.7826087 ,
        47146.66666667,  64866.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  91725.        ,  37268.96551724,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  64866.66666667,  64866.66666667,
        64866.66666667,  37268.96551724,  37268.96551724,  22834.7826087 ,
        91725.        ,  37268.96551724,  64866.66666667,  91725.        ,
        47146.66666667,  37268.96551724,  47146.66666667,  91725.        ,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  22834.7826087 ,
        91725.        ,  47146.66666667,  37268.96551724,  22834.7826087 ,
        64866.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  64866.66666667,  47146.66666667,
        37268.96551724,  37268.96551724,  22834.7826087 ,  37268.96551724,
        37268.96551724,  47146.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  64866.66666667,  47146.66666667,  47146.66666667,
        91725.        ,  22834.7826087 ,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  91725.        ,  22834.7826087 ,
        22834.7826087 ,  47146.66666667,  64866.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  47146.66666667,  22834.7826087 ,
        47146.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        22834.7826087 ,  22834.7826087 ,  91725.        ,  47146.66666667,
        37268.96551724,  91725.        ,  47146.66666667,  64866.66666667,
        22834.7826087 ,  37268.96551724,  47146.66666667,  47146.66666667,
        37268.96551724,  25400.        ,  37268.96551724,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  37268.96551724,  47146.66666667,
        47146.66666667,  37268.96551724,  64866.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  91725.        ,
        64866.66666667,  64866.66666667,  64866.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  22834.7826087 ,
        47146.66666667,  64866.66666667,  22834.7826087 ,  47146.66666667,
        64866.66666667,  37268.96551724,  47146.66666667,  37268.96551724,
        64866.66666667,  47146.66666667,  22834.7826087 ,  47146.66666667,
        47146.66666667,  37268.96551724,  37268.96551724,  37268.96551724,
        37268.96551724,  37268.96551724,  37268.96551724,  37268.96551724,
        64866.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        47146.66666667,  47146.66666667,  91725.        ,  22834.7826087 ,
        64866.66666667,  91725.        ,  47146.66666667, 100000.        ,
        47146.66666667,  47146.66666667,  37268.96551724,  47146.66666667,
        47146.66666667,  37268.96551724,  37268.96551724,  64866.66666667,
        64866.66666667,  37268.96551724,  37268.96551724,  91725.        ,
        37268.96551724,  47146.66666667,  22834.7826087 ,  91725.        ,
        47146.66666667,  91725.        ,  37268.96551724,  37268.96551724,
        47146.66666667,  37268.96551724,  47146.66666667,  47146.66666667,
        91725.        ,  47146.66666667,  64866.66666667,  64866.66666667,
        47146.66666667,  91725.        ,  47146.66666667,  47146.66666667,
        37268.96551724, 100000.        ,  91725.        ,  47146.66666667,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  47146.66666667,  91725.        ,
        47146.66666667,  47146.66666667,  91725.        ,  37268.96551724,
        37268.96551724,  37268.96551724,  47146.66666667, 100000.        ,
        47146.66666667,  37268.96551724,  37268.96551724,  47146.66666667,
        64866.66666667,  47146.66666667,  64866.66666667,  47146.66666667,
        47146.66666667,  64866.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  47146.66666667,  47146.66666667,  37268.96551724,
        47146.66666667,  37268.96551724,  22834.7826087 ,  47146.66666667,
        22834.7826087 ,  47146.66666667,  64866.66666667,  47146.66666667,
        64866.66666667,  47146.66666667,  47146.66666667,  47146.66666667,
        47146.66666667,  64866.66666667,  37268.96551724,  37268.96551724,
        37268.96551724,  91725.        ,  47146.66666667,  37268.96551724,
        64866.66666667,  37268.96551724,  37268.96551724,  37268.96551724])

In [33]:
y_test_pred

array([47146.66666667, 47146.66666667, 64866.66666667, 64866.66666667,
       47146.66666667, 47146.66666667, 37268.96551724, 91725.        ,
       37268.96551724, 37268.96551724, 47146.66666667, 37268.96551724,
       37268.96551724, 47146.66666667, 37268.96551724, 47146.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 64866.66666667,
       47146.66666667, 91725.        , 37268.96551724, 64866.66666667,
       47146.66666667, 47146.66666667, 37268.96551724, 47146.66666667,
       37268.96551724, 47146.66666667, 37268.96551724, 64866.66666667,
       47146.66666667, 91725.        , 47146.66666667, 47146.66666667,
       47146.66666667, 47146.66666667, 64866.66666667, 22834.7826087 ,
       47146.66666667, 47146.66666667, 47146.66666667, 47146.66666667,
       37268.96551724, 37268.96551724, 22834.7826087 , 47146.66666667,
       47146.66666667, 91725.        , 47146.66666667, 37268.96551724,
       47146.66666667, 47146.66666667, 91725.        , 47146.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 47146.66666667,
       47146.66666667, 47146.66666667, 64866.66666667, 47146.66666667,
       47146.66666667, 22834.7826087 , 37268.96551724, 47146.66666667,
       37268.96551724, 37268.96551724, 37268.96551724, 64866.66666667,
       47146.66666667, 37268.96551724, 37268.96551724, 47146.66666667,
       37268.96551724, 64866.66666667, 47146.66666667, 47146.66666667])


# model perfomance

In [34]:
from sklearn.metrics import mean_squared_error,r2_score

In [35]:
mean_squared_error(y_test,y_test_pred)

116554023.96381056

In [36]:
r2_score(y_train,y_train_pred)

0.8477196523486658

In [39]:
r2_score(y_test,y_test_pred)

0.6241422194036836

In [45]:
import xgboost as xgb

In [47]:
model=xgb.XGBRegressor()

In [48]:
model.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [49]:
y_train_pred = model.predict(x_train)

In [50]:
y_test_pred = model.predict(x_test)

In [51]:
y_test_pred

array([39472.645, 43361.06 , 71140.695, 62598.375, 41809.715, 35873.883,
       40336.383, 93873.01 , 27434.168, 39253.6  , 39795.613, 35630.902,
       38955.047, 52183.2  , 39950.414, 37973.71 , 45393.516, 31212.17 ,
       44230.516, 58936.01 , 43737.07 , 93594.01 , 39894.957, 61601.543,
       49093.75 , 47029.37 , 42876.5  , 36478.184, 40505.34 , 39795.203,
       42476.65 , 66486.45 , 45957.207, 83129.516, 48428.273, 42410.773,
       48950.69 , 50069.938, 59753.848, 20013.174, 57083.156, 42366.766,
       38611.098, 44017.664, 39041.93 , 33691.34 , 29037.203, 38569.137,
       43294.695, 81870.31 , 41927.18 , 27543.53 , 42971.098, 44740.316,
       84965.51 , 45683.05 , 49557.062, 32423.01 , 32127.967, 37159.426,
       49702.074, 44840.664, 66079.27 , 36201.62 , 56701.86 , 54746.684,
       28741.707, 39887.598, 40894.152, 43562.86 , 36134.89 , 71726.41 ,
       35450.062, 32314.896, 42241.32 , 38963.137, 44600.207, 71650.016,
       44501.25 , 50373.305], dtype=float32)

In [54]:
r2_score(y_train,y_train_pred)

0.9999999390990589

In [64]:
r2_score(y_test,y_test_pred)

0.8086699217219401